<div class="card">
  <!-- Loading state -->
  @if (loading) {
    <div class="flex justify-center items-center p-8">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <span class="ml-3 text-lg">Loading data...</span>
    </div>
  }

  <!-- Data table -->
  @if (!loading) {
    <p-treetable
      [value]="files"
      [columns]="cols"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 25]"
      [scrollable]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template #header let-columns>
        <tr>
          @for (col of columns; track col.field) {
            <th scope="col">{{ col.header }}</th>
          }
        </tr>
      </ng-template>
      <ng-template #body let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttRow]="rowNode">
          @for (col of columns; track col.field; let i = $index) {
            <td>
              @if (i === 0) {
                <p-treetable-toggler [rowNode]="rowNode" />
              }
              {{ rowData[col.field] }}
            </td>
          }
        </tr>
      </ng-template>
    </p-treetable>
  }
</div>
